/* ------------------- Absolute not sorted garbage ----------------------------*/
#page-ctn {
    color: #fbf1c7;
}

li p.first {
  display: inline-block;
}
 
blockquote {
  border-left: 4px solid #222222;
  padding: 0 15px;
  color: #888888;
}
 
table {
  padding: 0;
  color: white;
}

table tr {
  border-top: 1px solid #333333;
  background-color: #333333;
  margin: 0;
  padding: 0;
}
 
table tr:nth-child(2n) {
  background-color: #070707;
}
 
table tr th {
  font-weight: bold;
  border: 1px solid #333333;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
 
table tr td {
  border: 1px solid #333333;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
 
table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}
 
table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #151515;
  background-color: #070707;
  border-radius: 3px;
}
 
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
 
.highlight pre {
  background-color: #070707;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
 
pre {
  background-color: #070707;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
 
pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* ------------------- Absolute not sorted garbage ---------------------------- */









/* --------------------------- */
/* ---- Theme ---------------- */
/* --------------------------- */
/* --------------------------- */


/* ---- General theme --------------- */

body {
    background-color: #282828;
    color: #fbf1c7;
    font-family: sans-serif;
    /* font-size: 0.95em; */
    line-height: 1.5;
    padding: 30px;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.2em;
  width: 100%;
  text-align: center;
  color: #fe8019;
}

h2 {
  font-size: 1.6em;
  border-bottom: 1px solid #333333;
  color: #458588;
}
 
h3 {
  font-size: 1.4em;
  border-bottom: 1px solid #333333;
  color: #b8bb26;
}
 
h4 {
  font-size: 1.3em;
}
 
h5 {
  font-size: 1.2em;
}
 
h6 {
    color: #888888;
    font-size: 14px;
}
 
p {
    text-align: justify;
}

strong {
    color: #fe8019;
}

a {
  text-decoration: none;
  color: #8ec07c;
}

a.anchor {
  cursor: pointer;
}

figure {
    border: solid 1px #fe8019;
}

figcaption {
    color: #d65d0e;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

code {
  font-family: monospace;
}




/* ---- General Layout --------------- */

h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
    padding: 0 20px;
}

p {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

a.anchor {
    margin-left: -30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

li {
    margin-bottom: 4px;
}

img {
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* max-width: 60%; */
    margin-top: 25px;
    margin-bottom: 25px;
}

figure {
    text-align: center;
    padding-bottom: 20px;
    margin: 25px auto;
    max-width: 60%;
}

figure img {
    width: 90%;
    margin-bottom: 15px;
}

figcaption {
    vertical-align: middle;
}

:not(figure) img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
}




/* ---- Layout Theme --------------- */

/* Header */

nav {
    background-color: #fe8019;
    color: #1d2021;
    font-size: 1.3em;
    text-align: center;
    vertical-align: middle;
}

nav a {
    color: #1d2021;
}

nav li {
    border-right: 2px solid #1d2021;
}

nav a:last-child > li {
    border-right: 0;
}

nav ul.columnNavList > a > li {
    border: 0;
}

nav ul.columnNavList > li {
    border: 0;
    border-top: 2px solid #1d2021;
}


/* Main */

main {
    padding-top: 40px;
}

/* Footer */







/* ---------------------------- */
/* ---- Layout ---------------- */
/* ---------------------------- */
/* ---------------------------- */


/* ---- General layout --------------- */

body {
    width: 84%;
    margin: auto;
}


/* ---- Header --------------- */

header {
    display: flex;
    flex-direction: column;
}

div#headTitle {

}

nav {
    padding: 5px 10%;
    margin-top: 30px;
}


/* nav a { */
/*     width: auto; */
/*     /1* height: 100%; *1/ */
/*     align-items: center; */
/*     display: flex; */
/*     margin: 4px 0; */
/* } */

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    padding: 0;
    align-items: center;
    width: 100%;
}

nav li {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    height: 100%;
    justify-content: center;
    padding: 0 20px ;
    margin: 2px 0;
}

